.page-header
  %h1 Change Password

= simple_form_for @form, url: passwords_path, method: :post do |f|
  = f.error_notification
  = f.input :original_password
  = f.input :new_password
  = f.input :new_password_confirmation
  = f.submit 'Change Password'
